@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
*{
    
    padding:0px;

}
body{
    background-color: #d1c4e9;
}
h1{
    
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}
.container{
    text-align: center;
    padding-top:90px;
    padding-bottom: 30px;
    width:300px;
    background-color: rgba(0,0,0,0.2);
    margin:auto;
    border-radius: 2rem;
}

label{
    font-size: 1.5rem;
    font-family:cursive
}
input{
    border-radius: 1rem;
    padding:0.5rem;
}
#output-box{
    font-size: 1.5rem;
    font-family: cursive;
}
#check-number{
    padding:10px;
    border-radius: 0.5rem;
    color:rgba(0,0,0,0.9)
}
.footer{
   
    background-color: rgba(0,0,0,0.2);
    margin: auto;
    border-radius: 2rem;
    width: fit-content;
    margin-top: 19px;
    padding: 1px 0px 15px;
}
p{
    text-align:center;
   
    
}